<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telphone=no, email=no">
    <link type="text/css" rel="stylesheet" href="static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="static/css/style8.css">
    <link rel="stylesheet" href="static/css/footer.css">
    <script src="static/js/jquery.min.js"></script>
    <script>
        document.documentElement.style.fontSize = window.innerWidth / 375 * 50 + 'px';
    </script>
    <title>有糖有蜜-职场纪</title>
    <style>

    </style>
</head>

<body>
    <form onsubmit='return false'>
        <div class="wrap">
            <header>
                职场纪
                <i>0</i>
            </header>
            <section>
                <div class="show">
                    <img src="static/images/心定制_07.png" alt="">
                </div>
                <div class="main_list">
                    <h1>会打扮会打拼，自信女人什么都有可能</h1>
                    <hr style="width:.75rem; " />
                    <p>曾经如花似蕊，尽情绽放芳菲。而职场中的美，又该如何点缀？</p>
                    <div class="img">
                        <img src="static/images/职场纪_06.png" alt="">
                    </div>
                    <p>褪下校服，走出校园，从熟悉的学生身份，变成了一个初入职场的新人。</p>
                    <div class="img">
                        <img src="static/images/职场纪_09.png" alt="">
                    </div>
                    <p>职场的新奇，许多方式都与学生时 代相异，就连衣衫妆容，都十分不同。从青涩到成熟，慢慢开始学着融入。</p>
                    <div class="img">
                        <img src="static/images/职场纪_11.png" alt="">
                    </div>
                    <p>开始变得喜欢逛商场，做套衣服抑或是买件首饰。总之，把自己装扮得十分精致，自有不同凡俗的魅力。</p>
                    <div class="img">
                        <img src="static/images/职场纪_13.png" alt="">
                    </div>
                    <p>从上课到办公，从不熟悉到不再陌生，渐渐掌控。如果每天都有一个好心情，工作也将会变得更加轻松。</p>
                    <h1><em>1</em>蜂火芳菲</h1>
                    <p>
                        勤奋如蜂，热情似火，用勤奋和热情，在职场里绽放芳菲。<br/> 蜂聚如火的形象，美观大方，不落俗套，既寓意努力拼搏，又能衬托年轻人的青春向上。
                    </p>
                    <div class="pro">
                        <img src="static/images/01@2x.png" alt="">
                    </div>
                    <div class="check">
                        <div class="left">
                            <span>￥268.00</span>
                            <span><i>0</i>764</span>
                        </div>
                       <a href="/prodetail/1"> <div class="right"></div></a>
                    </div>
                    <h1><em>2</em>叶迹</h1>
                    <p>
                        万顷之林，一叶浮沉。朝沾雨露，暮自成痕。<br/>努力过，就会灿烂。经历过，岂会无痕？业绩，是留在职场中最璀璨的痕迹。
                    </p>
                    <div class="pro">
                        <img src="static/images/07@2x.png" alt="">
                    </div>
                    <div class="check">
                        <div class="left">
                            <span>￥268.00</span>
                            <span><i>0</i>764</span>
                        </div>
                           <a href="/prodetail/2"> <div class="right"></div></a>
                    </div>
                </div>
            </section>
            <div class="footer">
                <a href="javascript:;">
                    <i class="index"></i> 首页
                </a>
                <a href='javascript:;'>
                    <i class="bao"></i> "心"定制
                </a>
                <a href="javascript:;">
                    <i class="my"></i> 我要定制
                </a>
            </div>
        </div>
    </form>
</body>

</html>